<p id="notice"><%= notice %></p>

<div class="container">
	<h3 class="todo_list_title_bar"><%= @todo_list.title %></h3>
	<p class="todo_list_sub_title"><%= @todo_list.description %></p>
</div>


<div class="container">
	<div id="todo_items_wrapper">
		<%= render @todo_list.todo_items %>
	</div>
</div>

<div class="container">
	<div id="form"><%= render "todo_items/form" %></div>
</div>


<div class="links">
	<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
	<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: {confirm: "Are you sure?"} %> |
	<%= link_to 'Back', todo_lists_path %>
</div>
